@media print{
aside{
/* Oculta os blocos sem conteúdo relevante, comumente tags <aside>
*/
display: none;
}
}
*{	
padding: 0;
margin: 0;
}
hr{

display: block;
border-style: inset;
border-color: white;
border-width: 4px;
margin-top: 0.5em;
margin-bottom: 0.5em; 
}
h2#primeiro{
background-color: DarkSalmon;
text-align: center;	
font-style:italic;
font-weight: bolder;
color:#FFD700;
padding: 10px;
}
body{
color:#8B0000;
background-image: url(img/fundo.jpg);
background-size: 100%;
margin-right:1%;
padding-left: 1%;
padding: 1%;
}
div#borda{
background-color: DarkSalmon;
margin-right:78%;
padding-left: 1%;
border: #DAA520 solid 5px;
border-radius: 10px;
}
input#botao{
font: bold 12px/24px arial, helvetica;
padding:0px;
text-decoration: none;
text-align:center;
color:#ccc;
background: #666 url(img/botao_link.gif)no-repeat center center;
width:120px;
height:24px;
display:block;
}
input#botao:hover{
background:url(img/botao_hover.gif) no-repeat center center;
color:#999;
}
fieldset{

font-weight: bolder;	
border: 5px solid #DAA520;
padding: 10px;
background-color: DarkSalmon;
border-radius: 10px;
width: calc(15% - 20px);
}
div#pop1{
display:none;
position:absolute;
left:auto%;
}
div#pop2{
display:none;
position:absolute;
left:auto%;
}
div#pop3{
display:none;
position:absolute;
left:auto%;
}
a{
text-decoration:none;
}
input{
color: #FF0000; 
border: none;
}
img{
margin-left: 1%;	
width:50px; 
height:50px;	
}
