font{
  font-weight: bolder;
  color: red;
  font-size: x-large;
  font-family: sans-serif;
}
body{
background-image: url(img/fundo.jpg);
background-size: 100%;
font-family: Sans-serif;
font-size: large;
color: #FFD700;
}

fieldset#cima{
  border: #DAA520 solid 5px;
  background-color: white;
}
