@media print{
aside{
/* Oculta os blocos sem conteúdo relevante, comumente tags <aside>
*/
display: none;
}
}
*{
  padding: 0;
  margin: 0;
}
body{
background-color: gray;
font-weight: bolder;
margin: 10px 5%; 

}
font{
  font-family: Sans-serif;
  font-size: large;
  border-width: inherit;
  text-align:justify;

}
h1{
font-weight: bolder;
}
fieldset#img{
  border: #DAA520 solid 4px;
  background-color: white;
  border-radius: 10px;
  margin-right: 20%; 
  margin-left: 20%;
}
fieldset{
background-color:DarkGray;
padding: 10px;  
}
img{
  position: relative;
  margin-left: 10%;
}
img#botao{
margin-left: 1%;
width:50px;
height:50px; 
}
a{
position: left;
}
hr{
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  border-style: inset;
  border-color: #DAA520;
  border-width: 5px;
  border-radius: 10px;

}
div{
text-align: justify-all;
padding: 15px;
margin-bottom:  1%;
}
/* CSS desktop first */
.coluna{
background-color: #ddd;
border-radius: 10px;
height: 10%;
width: calc(98% - 0px);
float: center;
text-align: justify-all;
}
@media (max-width: 768px){
.coluna{
float: none;
width: calc(100% - 20px);
}
}