@import url("reset.css");
body{
background-image: url(img/fundo.jpg);
background-size: 100%;
}
a{
text-decoration: none;	
position: relative;
bottom: 80px;
margin-left:30%;
}
img#botao{
position: relative;
width:40px;
height:40px;	
}