font{
  font-weight: bolder;
  color: white;
  font-family: sans-serif;
}
body{
background-image: url(img/fundo.jpg);
background-size: 100%;
font-family: Sans-serif;
font-size: large;
color: #FFD700;
}
a{
text-decoration: none;	
}
